<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.turtlestack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.turtlestack.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.turtlestack.QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name="com.example.turtlestack.BrowseActivity"
            android:label="@string/title_activity_browse" >
        </activity>
        <activity
            android:name="com.example.turtlestack.QuestionDisplayActivity"
            android:label="@string/title_activity_question_display" >
        </activity>
        <activity
            android:name="com.example.turtlestack.UserViewActivity"
            android:label="@string/title_activity_user_view" >
        </activity>
        <activity
            android:name="com.example.turtlestack.AnswerActivity"
            android:label="@string/title_activity_answer" >
        </activity>
        <activity
            android:name="com.example.turtlestack.TagsListActivity"
            android:label="@string/title_activity_tags_list" >
        </activity>
        <activity
            android:name="com.example.turtlestack.TagCloudActivity"
            android:label="@string/title_activity_tag_cloud" >
        </activity>
        <activity
            android:name="com.example.turtlestack.SearchActivity"
            android:label="@string/title_activity_search"
            android:parentActivityName="com.example.turtlestack.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.turtlestack.MainActivity" />
        </activity>
        <activity
            android:name="com.example.turtlestack.StartActivity"
            android:label="@string/title_activity_start" >
        </activity>
        <activity
            android:name="com.example.turtlestack.SearchNewActivity"
            android:label="@string/title_activity_search_new"
            android:parentActivityName="com.example.test.StartActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:resource="@xml/search"
                android:value="com.example.test.StartActivity" />
        </activity>
        <activity
            android:name="com.example.turtlestack.QuestionDisplayNew"
            android:label="@string/title_activity_question_display_new"
            android:parentActivityName="com.example.test.StartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.StartActivity" />
        </activity>
    </application>

</manifest>