<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.turtlestack"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.turtlestack.QuestionActivity"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name="com.example.turtlestack.BrowseActivity"
            android:label="@string/title_activity_browse" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.turtlestack.QuestionDisplayActivity"
            android:label="@string/title_activity_question_display" 
            android:parentActivityName="com.example.turtlestack.BrowseActivity">
        </activity>
        <activity
            android:name="com.example.turtlestack.UserViewActivity"
            android:label="@string/title_activity_user_view"
            android:parentActivityName="com.example.turtlestack.BrowseActivity" >
        </activity>
        <activity
            android:name="com.example.turtlestack.AnswerActivity"
            android:label="@string/title_activity_answer" >
        </activity>
        <activity
            android:name="com.example.turtlestack.TagsListActivity"
            android:label="@string/title_activity_tags_list" >
        </activity>
        <activity
            android:name="com.example.turtlestack.TagCloudActivity"
            android:label="@string/title_activity_tag_cloud"
            android:parentActivityName="com.example.turtlestack.BrowseActivity" >
        </activity>
    </application>

</manifest>